/* Mobile Layout */
html {
  display: grid;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  align-items: flex-top;
  background-color: #2e513b;
}

.mobile-layout {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: center top;
  background-image: url(../img/bambooForest2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0;
  padding: 0;
}

.main-mobile-layout {
  flex: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  width: 1100px;
  /* Maintain aspect ratio */
  height: 600px;
  /* Fit full height of the viewport in landscape mode*/
  margin: 0;
  padding: 0;
}

.mobileGameFrame {
  position: relative;
  width: 800px;
  height: 600px;
  transform-origin: top center;
  background-color: greenyellow;
  border: 5px solid #4CAF50;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#mobileGameCanvas {
  display: flex;
  pointer-events: auto;
  width: 800px;
  height: 600px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #0097a7;
}

.game-btnM {
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 0 1px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  color: rgb(246, 249, 246);
  border: none;
  border-radius: 30%;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  touch-action: none;
  z-index: 100;
  pointer-events: auto;
}

.game-btnM:active {
  background-color: #0097a7;
}

/* Button Positions */
#btn-leftM {
  position: absolute;
  font-size: 2.5em;
  font-weight: 900;
  top: 50%;
  left: calc(50% - 540px);
  transform: translateY(-50%);
  margin-right: 20px;
  align-items: center;
  background-color: #f82613;
  z-index: 100;
}

#btn-rightM {
  position: absolute;
  font-size: 2.5em;
  font-weight: 900;
  top: 50%;
  left: calc(50% - 480px);
  transform: translateY(-50%);
  margin-right: 20px;
  align-items: center;
  background-color: #16aa06;
  z-index: 100;
}

#btn-upM {
  position: absolute;
  font-size: 2.5em;
  font-weight: 900;
  top: 43%;
  right: calc(50% - 510px);
  transform: translateY(-50%);
  align-items: start;
  background-color: #d6086c;
  z-index: 100;
}

#btn-downM {
  position: absolute;
  font-size: 2.5em;
  font-weight: 900;
  top: 57%;
  right: calc(50% - 510px);
  transform: translateY(-50%);
  align-items: start;
  background-color: #d6086c;
  z-index: 100;
}

#btn-restart-lostM {
  position: absolute;
  width: 120px;
  font-size: 1.8em;
  font-weight: bold;
  align-items: center;
  background-color: #00BFFF;
  /* Deep Sky Blue */
  color: #FFFFFF;
  /* White text */
  top: 60%;
  left: calc(50% - 60px);
  z-index: 100;
}

#btn-restart-winM {
  position: absolute;
  width: 120px;
  font-size: 1.8em;
  font-weight: bold;
  align-items: center;
  background-color: #00BFFF;
  /* Deep Sky Blue */
  color: #FFFFFF;
  /* White text */
  top: 60%;
  left: calc(50% - 60px);
  z-index: 100;
}
